* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.todo-area {
    position: relative;
    margin: 200px auto;
    padding: 32px;
    width: 384px;
    min-height: 260px;
    border-radius: 20px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);

    & .title {
        width: 59px;
        height: 29px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }

    & .list-area {
        position: relative;
        margin-bottom: 48px;
        min-height: 140px;

        &.empty {
            .todo-list {
                display: none;
            }

            .empty-text {
                display: block;
            }
        }

        .empty-text {
            display: none;
        }

        & .empty-text {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 18px;
            color: var(--color-empty-text-gray);
            transform: translate(-50%, -50%);
        }

        & .todo-list {
            margin: 40px 0 98px;

            .item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 18px;
                height: 40px;

                .radio-icon,
                .menu-icon {
                    cursor: pointer;
                }

                input {
                    padding-left: 8px;
                    height: 20px;
                    width: 100%;
                    // outline: none;
                    border: none;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &:hover input {
                    border-bottom: 1px solid gray;
                }
            }
        }
    }

    & .add-btn {
        position: absolute;
        bottom: 32px;
        left: 32px;
        width: 320px;
        height: 48px;
        font-weight: 500;
        font-size: 16px;
        border: none;
        border-radius: 16px;
        background-color: var(--color-btn-gray);

        &:hover {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }
    }
}
