* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo-area {
  position: relative;
  margin: 200px auto;
  padding: 32px;
  width: 384px;
  min-height: 260px;
  border-radius: 20px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}
.todo-area .title {
  width: 59px;
  height: 29px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.todo-area .list-area {
  position: relative;
  margin-bottom: 48px;
  min-height: 140px;
}
.todo-area .list-area.empty .todo-list {
  display: none;
}
.todo-area .list-area.empty .empty-text {
  display: block;
}
.todo-area .list-area .empty-text {
  display: none;
}
.todo-area .list-area .empty-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  color: var(--color-empty-text-gray);
  transform: translate(-50%, -50%);
}
.todo-area .list-area .todo-list {
  margin: 40px 0 98px;
}
.todo-area .list-area .todo-list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  height: 40px;
}
.todo-area .list-area .todo-list .item .radio-icon,
.todo-area .list-area .todo-list .item .menu-icon {
  cursor: pointer;
}
.todo-area .list-area .todo-list .item input {
  padding-left: 8px;
  height: 20px;
  width: 100%;
  border: none;
}
.todo-area .list-area .todo-list .item:last-child {
  margin-bottom: 0;
}
.todo-area .list-area .todo-list .item:hover input {
  border-bottom: 1px solid gray;
}
.todo-area .add-btn {
  position: absolute;
  bottom: 32px;
  left: 32px;
  width: 320px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 16px;
  background-color: var(--color-btn-gray);
}
.todo-area .add-btn:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}